html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href] {
  --theme-color: hsl(41, 100%, 39%);
  color: var(--theme-color);
  text-decoration: underline;
}

a[href]:hover {
  --theme-color: hsl(41, 100%, 49%);
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}
