.container {
  display: grid;
}

.courseList {
  display: grid;
  list-style-type: none;
  grid-auto-flow: column;
  grid-auto-columns: 180px;
  justify-content: center;
  margin: 2ch;
  margin-block-start: 0;
  padding: 0;
  gap: 4ch;
}

.card {
  aspect-ratio: var(--ratio-box);
  border-radius: var(--radius-2);
  display: grid;
  padding: var(--size-fluid-3);
  place-content: center;
  padding-inline-start: 2ch;
  box-shadow: var(--shadow-4);
  border: var(--border-size-2) solid var(--gray-1);
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-fluid-1);
  border-radius: var(--radius-blob-3);
}

@media (--OSdark) {
  .card {
    box-shadow: var(--shadow-3);
    border: var(--border-size-2) solid var(--gray-6);
  }  
}

.card a,
.card a:hover,
.card a:visited {
  color: var(--link-color-1);
}