.logoContainer {
  display: grid;
  grid-template-rows: 250px;
  place-content: center;
}

.logoTitle {
  fill: var(--logo-title, #75b3a6);
  stroke-width: 0;
}

.logoSubtitle {
  fill: var(--logo-subtitle, rgb(225 226 241));
  stroke-width: 0;
}

.logoText {
  width: 100%;
}

.logoAnimation {
  clip-path: inset(0px 0px 125px 0px);
  contain: strict;
  grid-area: 1 / 1;
  margin-block-start: -50px;
  overflow: hidden;
  overflow: clip;
  width: 290px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1;
  margin-block-start: 80px;
  position: relative;
  align-items: center;
  width: 80%;
  margin-inline: 10%;
}